*{
    margin: 0;
    padding: 0;

}

html, body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    background: rgb(54,77,204);
    background: radial-gradient(circle, rgba(54,77,204,1) 0%, rgba(179,213,20,1) 64%);
    color:white;
}


.avatar{
    width:100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid whitesmoke;
    box-shadow: 0 0 30px black;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
    
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img{
    width: 33px;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
}

.links-list{
    list-style: none;
}

.links-list li{
    margin: 10px 20px;
    box-shadow: 0 0 10px white;
    
    
    
}

.links-list li a{
    display: block;
    background:black;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;

}

.links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}

.footer a img  {
    display: flex;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    
}




